.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
  }
  h1{
    margin: 0;
    display: flex;
    line-height: 1.5;
  }
.texto{
    display: flex;
    line-height: 1.5;
}
.container2{
    background-color: transparent;
    height: 20vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    opacity: 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
  flex-direction: column;
  
}
.input{
    display: flex;
    
}
